<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <mapping class="com.safnow.model.Ubication"/>
    <mapping class="com.safnow.model.User"/>
    <mapping class="com.safnow.model.Alert"/>
    <mapping class="com.safnow.model.Nameable"/>
    <mapping class="com.safnow.model.ValidationCode"/>
  </session-factory>
</hibernate-configuration>
